body {
    background-color: powderblue;
  }
  h1 {
    color: blue;
  }
  p {
    color: rgb(13, 14, 13);
  }
  a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
  }
  .cta-banner {
    background: linear-gradient(90deg,#451821,#4a314d 50%,#1a3f6e);
    background-size: cover;
    background-position: 50%;
    height: 40%;
    margin: 0;
    padding: 10px;
    display: flex;
    color: #fff;
    justify-content: start!important;
    align-items: center;
    border-radius: 15px;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin: 50px;
}

h1, h2, h3 {
    margin: 0;
}

button {
    background-color: #da2b27;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

img {
    width: 100%;
    max-width: 400px;
    height: auto;
    margin-top: 20px;
}
  .WightPaper{
    background-color: rgb(1, 16, 16);
    font-size: 40px;
    display: inline-block; 
    color: azure;
      
  }
  
  a:visited {
    color: rgb(151, 18, 223);
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
  }
  .don{
    background-color: #FFF4A3;
    width:300px;
  margin:auto;
  
  
  }
  ._ngcontent-wao-c32] {
    background: linear-gradient(90deg,#451821,#4a314d 50%,#1a3f6e);
    background-size: cover;
    background-position: 50%;
    height: 40%;
    margin: 0;
    padding: 10px;
    display: flex;
    color: #fff;
    justify-content: start!important;
    align-items: center;
    border-radius: 15px;
  .con{
    background-color: #FFF4A3;
    width:300px;
  margin:auto;
  display:none
  }
  .iam{
    background-color: #d4d0a5;
    width:300px;
  margin:auto;
  color: rgb(233, 241, 233);
  }
  /* Media query for text */
@media  (max-width: 600px) {
  h1 {
    font-size: 8px; /* Adjust the font size for smaller screens */
  }
}
/* Media query for div display */
@media (max-width: 500px) {
  #con-1 {
    display: block; /* Hides the div on smaller screens */
  }
}

@media screen and (min-width: 776px) {
  #par-1 {
    display: block; /* Shows the div on larger screens */
  }
}
.box {
  text-align: center;
  background-color: rgba(255, 196, 0, 0.959);
  color: white;
  font-size: 50px;

  @media (min-width: 400px) { 
             #box1 {
                 display: block;
             }
         }

         @media (min-width: 450px) and (max-width: 600px){
          #box2{
              display: block;
              background-color: teal; 
          }
      }
      